{{> header title=subject}}

<p>Hi there,</p>
<p><strong>{{inviterName}}</strong> has invited you to join <strong>{{tenantName}}</strong> on NexoCRM as <strong>{{roleLabel role}}</strong>.</p>

{{> button url=inviteUrl label="Accept invitation"}}

{{> note text=noteText}}

{{> footer year=year}}
