{{> header title=subject companyName=companyName logoUrl=logoUrl brandColor=brandColor}}

<p>Hi,</p>
<p>We received a request to reset the password for <strong>{{userEmail}}</strong>. Click the button below to choose a new password.</p>

{{> button url=resetUrl label="Reset password"}}

{{> note text=noteText}}

{{> footer year=year companyName=companyName}}
