    </div>
    <div class="footer">© {{year}} {{#if companyName}}{{companyName}}{{else}}NexoCRM{{/if}} · You're receiving this because an action was taken on your account.</div>
  </div>
</body>
</html>
